# RStudio files
TADA.Rproj
.Rproj.user
test_function.R

# History files
.Rhistory
.Rapp.history

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Session Data files
.RData
.RDataTmp

.Rdata
.httr-oauth
.DS_Store

#
_snaps

testing_log.txt
